<div class="col-sm-6">
    <img src="/images/contact.jpg" alt="thank_you">
</div>
<div class="col-sm-6">
    <h1>Thank you for submitting!</h1>
    <p> Go
        <a href="/">home!</a>
    </p>
</div>